 :root{
            --gap-side: 16px;
            --image-filter: grayscale(100%);
            --max-width: 90em;
            --nav-height: 5em;
            --nav-radius: 0.8em;
            --nav-bg: rgba(255, 255, 255, 0);
            --nav-shadow: 0px 6px 18px rgba(0,0,0,0.12);
            /* DIMENSÕES DA IMAGEM E CLIP-PATH */
            --img-w: 1408px;
            --img-h: 480px;
            --r-corner: 40px; 
            --r-bottom: 47px;
        }

        *{box-sizing: border-box; margin: 0; padding: 0}

        body{
            background: linear-gradient(#eef2ff, #f8fafc);
            font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
            line-height: 1.5;
        }

        .topbar{
            align-items: center;
            background: var(--nav-bg);
            backdrop-filter: blur(6px); 
            border-radius: var(--nav-radius);
            box-shadow: var(--nav-shadow);
            display: flex;
            height: var(--nav-height);
            justify-content: flex-start;
            left: 50%;
            max-width: var(--max-width);
            position: fixed;
            padding: 0 2em;
            top: 12px;
            transform: translateX(-50%);
            width: calc(100% - (var(--gap-side) * 2));
            z-index: 1000;
        }

        .topbar .logo{
            color: #000000;
            font-size: 1.8em;
            font-weight: 700;
            letter-spacing: 0.1em;
            margin-right: 2.4em;
            text-decoration: none;
        }


        .nav-links{
            align-items: center;
            display: flex;
            height: 100%;
            gap: 0.6rem;
            list-style: none;
            margin: 0;
            margin-left: auto;  
            padding: 0;
              
        }

        .nav-links a{
            border-radius: 0.8em;
            color: #0f172a;
            display: flex;
            padding: 0.6em 1em;
            text-decoration: none;
            transition: background .18s, .18s;
        }

        .nav-links a .bi{
            display: inline-block;
            margin-right: 0.8em;          
        }

        .nav-links a:hover{
            background: rgba(0, 0, 0, 0.06);  
        }

        .img-principal {
            align-items: center;
            background-image: url('./src/image/img-principal.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 2rem;
            box-shadow: 0 10px 40px rgba(0,0,0,0.12);
            clip-path: path("M40,0H1368A40,40 0,0,1 1408,40V440A40,40 0,0,1 1368,480H497A47,47 0,0,1 450,433V427A47,47 0,0,0 403,380H47A47,47 0,0,1 0,333V40A40,40 0,0,1 40,0Z");
            width: 1408px;
            height: 480px;
            background-color: #dedede;
            aspect-ratio: 44 / 15;
            mask-size: 100% 100%;
            display: flex;
            justify-content: center;
            left: 50%;
            margin: 0;
            max-width: var(--max-width);
            position: relative;
            overflow: hidden;
            width: calc(100% - (var(--gap-side) * 2));
            top: calc(var(--nav-height) + 2.4em);
            transform: translateX(-50%);
        }

        .conteudo-principal {
            position: relative;
            display: flex;              
            justify-content: center;     
            align-items: center;        
            flex-direction: column;           
            padding: 2em;                           
        }

        .conteudo-principal .img- {
            /* Faz deste div a referência para o botão absoluto */
            position: relative; 
            width: 100%;
            /* Limita a largura à variável global definida */
            max-width: var(--max-width); 
            /* Garante espaço para o botão que fica abaixo */
            margin-bottom: 50px;    
        }

        .btn-explore{
            /* POSICIONAMENTO */
            position: absolute;
            bottom: 8.5em; /* 20px acima da base do contêiner pai */
            z-index: 5%; /* Garante que fique acima de outros elementos */
           
            /* ESTILIZAÇÃO */
            background-color: #A0AA29; /* Laranja da imagem */
            color: white;
            padding: 2em 6em;
            border: none;
            cursor: pointer;
            font-weight: 100;
            
            /* Formato: Arredondamento maior na direita para simular o da foto */
            border-radius: 3em; 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        }


        .tips-section {
            margin: 4rem auto;
            padding: 3rem;
            display: flex;
            gap: 2rem;
            max-width: var(--max-width);
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            box-shadow: 0 0.4em 1.2em rgba(2,6,23,0.04);
            border-radius: 1em;
        }

        .img-tips:hover .img-top-tips {
            transform: scale(1.1); /* zoom de 110% ao passar o mouse */
        }

        .img-tips:hover .img-bottom-tips {
            transform: scale(1.1); /* zoom de 110% ao passar o mouse */
            transition-delay: 0.2s; /* delay de 0.2s para a imagem de baixo */
        }

        .text-tips {
            flex: 1;
            padding-right: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .img-tips {
            flex: 1;
            position: relative;
            height: 500px;
            transition: transform 0.5s ease;
        }

        .img-top-tips, .img-bottom-tips {
            border-radius: 1rem;
            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
            display: block;
            height: 400px;
            object-fit: cover;
            position: absolute;
            transition: transform 0.5s ease;
        } 

        .img-top-tips {
            right: 0;
            top: 0;
            z-index: 2;
        }

        .img-bottom-tips {
            left: 0;
            bottom: 0;
            z-index: 0;
        }

        .card {
            border-radius: 1em;
            border: 1px solid rgb(209, 207, 207); 
            box-sizing: border-box;
            box-shadow: 0 0.4em 1.2em rgba(192, 191, 191, 0.04);
            height: 100%; 
            overflow: hidden;
            padding: 20px;
            transition: transform .12s, box-shadow .12s;
        }
        
        .card:hover .card-img {
            transform: scale(1.1); 
        }

        .card-img {
            border-radius: 0.6em;
            height: 14em;       
            object-fit: cover;
            transition: transform 0.5s ease;    
            width: 100%;
        }



        
        main{
            margin: 0 auto;
            max-width: var(--max-width);
            padding: 24px;
        }

        section{
            background: white;
            border-radius: 1em;
            margin-bottom: 1.8em;
            padding: 2.0em;
        }

        h1{margin-bottom: 1.2em}
        p{color:#334155}